
#bookmarks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#horiz {
  display: inline;
}

#portrait {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  display: block;
  margin-left: 5px;
  
}

#whole{
  background-color: #F1F1F1;
}

#firstbox{
  background-color: #779EB2;
  text-align: center;

}